EXPO_PUBLIC_SUPABASE_URL=https://mwxcvlyrkptxrwgkmqum.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=sb_publishable__nk391uzfRC4bg3HQFHjlA_tH5kzmDY
EXPO_PUBLIC_SITE_URL=https://kemalogretmenim.com.tr
EXPO_PUBLIC_EAS_PROJECT_ID=
